<!--HTML template for the main page-->

<h1>Welcome to the {{title}}</h1>

<p>A web app by {{author}}.</p>

<p>This page was loaded at {{timePageLoaded}}.</p>

<p><a href="/feedback_form">Submit feedback here.</a></p>